* {
    border: none;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-weight: bold;
    font-size: 12px;
    text-shadow: 1px 1px 2px #000000;
    color: #d4c2ff;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
}

#workspaces button {
    padding: 5px;
}

#workspaces button.active {
    color: #ffffff;
}

#workspaces button.focused {
    color: #ffffff;
    background: #eba0ac;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #ffffff;
    color: #11111b; 
    border-radius: 10px;
}

#window,
#clock,
#battery,
#network,
#workspaces,
#tray {
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 5px;
}

#workspaces {
    font-size: 10px;
    margin-left: 5px;
    padding-right: 0px;
    padding-left: 5px;
}

#window {
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    margin-left: 5px;
}

#battery {
    margin-right: 10px;
}
